<div class="card">

    <nav>
      <a href="/" class="p-button font-bold">Home</a>

 </nav>
</div>

<h2>Change newwelder</h2>

<div class="container">
<form [formGroup]="welderForm" (ngSubmit)="onSubmit()">
    <p-accordion [activeIndex]="0">
       <!-- Main  -->
      <p-accordionTab header="Main">
         <div class="row">
           <div class="col">
              <label for="Super_First_name">First name</label>
              <input id="Super_First_name" class="form-control" type="text" 
              formControlName="Super_First_name" />
              <small *ngIf="welderForm.get('Super_First_name')?.hasError('required')">
                First name required</small>
           </div>
          
           <div class="col">
            <label for="Super_Surname">Surname</label>
            <input id="Super_Surname" class="form-control" type="text" 
             formControlName="Super_Surname" />
             <small *ngIf="welderForm.get('Super_Surname')?.hasError('required')">
              Surname required</small>
           </div>
          
           <div class="col">
           <label for="Super_mail">Email</label>
           <input id="Super_mail" type="email" class="form-control"
           formControlName="Super_mail" />
           </div>
        </div>


          <div class="row">
            <div class="col-md-2">
             <label for="Super_Age">Date of birth</label>
             <p-calendar id="Super_Age" 
             dataType="string" 
             dateFormat="dd.mm.yy"
             [showTime]="false"
             formControlName="Super_Age" />
            </div>
          
           <div class="col-md-3">
             <label for="Super_Telephone">Telephone</label>
             <p-inputMask  id="Super_Telephone" type="text" class="form-control" mask="(999)-999-9999" placeholder="(999)-999-9999"   formControlName="Super_Telephone" />
          </div>
         
          
          <div class="col-md-2">
            <label for="NonGastarbeiter">NonGastarbeiter</label>
              <p-inputSwitch id="NonGastarbeiter" type="boolean" class="form-control"
              formControlName="NonGastarbeiter" />
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="Desired_Job_Category">Desired job category</label>
            <input id="Desired_Job_Category" type="text" class="form-control"
            formControlName="Desired_Job_Category" />
          </div>
          
          
            <div class="col">
            <label for="Desired_position">Desired position</label>
            <input id="Desired_position" type="text" class="form-control"
            formControlName="Desired_position" />
          </div>

          <div class="col-md-2">
            <label for="asap">ASAP</label>
            <p-inputSwitch id="asap" type="boolean" class="form-control"
            formControlName="asap" />
          </div>
       </div>


    <div class="row">
        <div class="col-md-2">
          <label for="available">Available</label>
          <p-dropdown 
          id="available"
          class="form-control"
          formControlName="available"
          [options]="available"
          optionLabel="name"
          placeholder="Select option" />
        </div>
    </div>
    <div class="row">
        <div class="col">
           <label for="Comment_1">Comment </label>
           <textarea rows="5" cols="30" pInputTextarea  type="textarea" class="form-control"
           formControlName="Comment_1"></textarea>
        </div>
    </div>
        </p-accordionTab>

<!-- Calendar reminders -->
        <p-accordionTab header="Calendar reminders">
           
          <div class="row">
            <div class="col-md-2">
              <label for="tatle">Call action</label>
              <p-dropdown 
              id="tatle"
              class="form-control"
              formControlName="tatle"
              [options]="callaction"
              optionLabel="name"
              placeholder="Select option" />
            </div>

            <div class="col-md-2">
              <label for="start_date">Start date</label>
              <p-calendar
                id="start_date"
                class="form-control"
                dataType="string" 
                dateFormat="dd.mm.yys"
                [showTime]="false"
                formControlName="start_date" 
                />
            </div>

             <div class="col-md-2">

              <label for="start_time">Start time email</label>
              <p-calendar  id="start_time" 
              dataType="string" 
              dateFormat="format"
              [showTime]="true"
              [timeOnly]="true"
              [stepMinute]="5"
              [iconDisplay]="'input'"
              [showIcon]="true"
              formControlName="start_time" />
              <span>{{date.toLocaleString()}}</span> 

              <!-- IGX time picker not working correctly
              <label for="start_time">Start time</label>
              <igx-time-picker
                #timePicker
                id="start_time"
                formControlName="start_time"
                [itemsDelta]="{hours:1, minutes:5}"
                [inputFormat]="format"
                displayFormat="HH:mm"
                [placeholder]="'Choose time'"
                dataType="string"
               >
                <igx-hint>{{date.toLocaleString()}}</igx-hint>
                </igx-time-picker> -->

            </div> 
           </div>

          <div class="row">
            <div class="col-md-2">
              <label for="tatle_email">Email action</label>
              <p-dropdown 
              id="tatle_email"
              class="form-control"
              formControlName="tatle_email"
              [options]="callaction"
              optionLabel="name"
              placeholder="Select option" />
            </div>
            <div class="col-md-2">
              <label for="start_date_email">Start date email</label>
              <p-calendar
              id="start_date_email"
              class="form-control"
              dataType="string" 
              dateFormat="dd.mm.yy"
              [showTime]="false"
              formControlName="start_date_email"/>
            </div>

            <div class="field col-12 md:col-2">
              <label for="start_time_email">Start time email</label>
                 <p-calendar  id="start_time_email" 
                 dataType="string" 
                 dateFormat="format"
                 [showTime]="true"
                 [timeOnly]="true"
                 [stepMinute]="5"
                 [iconDisplay]="'input'"
                 [showIcon]="true"
                 formControlName="start_time_email" />
                 <span>{{date.toLocaleString()}}</span>
            </div>

            <!-- IGX not working correctly
            
            <div class="col-md-2">
              <label for="start_time_email">Start time email</label>
              <igx-time-picker
                id="start_time_email"
                #timePicker
                formControlName="start_time_email"
                [placeholder]="'Choose time'"
                [mode]="mode"
                dataType="string"
                [inputFormat]="format">
                <igx-hint>{{date.toLocaleString()}}</igx-hint>
                </igx-time-picker>
            </div> -->
          </div>
        </p-accordionTab>

        <p-accordionTab header="Call">
          <div class="row">
            <div class="col-md-2">
              <label for="calltype">CALL</label>
              <p-dropdown
              id="calltype"
              formControlName="calltype"
              [options]="calltype"
              optionLabel="name"
              placeholder="Select option" />
            </div>
            <div class="col-md-2">
              <label for="totalUnreachable2">Not answered</label>
              <p-dropdown 
              id="totalUnreachable2"
              formControlName="totalUnreachable2"
              [options]="totalunreachable"
              optionLabel="name"
              placeholder="Select option" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="wrongtel">Wrong Tel</label>
              <p-dropdown 
              id="wrongtel"
              formControlName="wrongtel"
              [options]="wrongtel"
              optionLabel="name"
              placeholder="Select option" />
            </div>
            <div class="col-md-2">
              <label for="totalUnreachable">Total lack of dialing</label>
              <p-dropdown 
              id="totalUnreachable"
              formControlName="totalUnreachable"
              [options]="totalunreachable"
              optionLabel="name"
              placeholder="Select option" />
            </div>
          </div>
        </p-accordionTab>

       <p-accordionTab header="New questions">
        <div class="row">
          <div class="col-md-2">
            <label for="expensivness">Expensivness</label>
            <p-dropdown 
            id="expensivness"
            formControlName="expensivness"
            [options]="expensivness"
            optionLabel="name"
            placeholder="Select option" />
          </div>

          <div class="col-md-2">
            <label for="costPerHour">Cost per hour</label>
            <p-inputNumber id="costPerHour"
            inputId="integeronly" formControlName="costPerHour" />
          </div>
            
          <div class="col-md-4">
            <label for="costPerHourComm">Comment</label>
            <textarea id="costPerHourComm" rows="5" cols="30" pInputTextarea  type="textarea" class="form-control"
            formControlName="costPerHourComm"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <label for="car">Car</label>
            <p-dropdown 
            id="car"
            type="text"
            formControlName="car"
            [options]="car"
            optionLabel="name"
            placeholder="Select option" />
          </div>
          </div>
         
          <div class="row">
          <div class="col-md-2">
            <label for="filedFormDate">FiledForm Date</label>
            <p-calendar id="filedFormDate" 
            type="text" 
            class="form-control" 
            dataType="string" 
            dateFormat="dd.mm.yy"
            [showTime]="false"
            formControlName="filedFormDate" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <label for="idPassportDate">ID/Passport Date</label>
            <p-calendar id="idPassportDate" 
            type="text" 
            class="form-control" 
            dataType="string" 
            dateFormat="dd.mm.yy"
            [showTime]="false"
            formControlName="idPassportDate" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <label for="assignedDate">Assigned Date</label>
            <p-calendar id="assignedDate"
             type="text" 
             class="form-control" 
             dataType="string" 
             dateFormat="dd.mm.yy"
             [showTime]="false"
             formControlName="assignedDate" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label for="workSiteDate">Worksite Date</label>
            <p-calendar id="workSiteDate"
             type="text" class="form-control"
             dataType="string" 
             dateFormat="dd.mm.yy"
             [showTime]="false"
              formControlName="workSiteDate" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="freeComment1">FreeComment1</label>
            <textarea id="freeComment1" rows="5" cols="30" pInputTextarea  type="textarea" class="form-control"
            formControlName="freeComment1"></textarea>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <label for="freeComment2">FreeComment2</label>
            <textarea id="freeComment2" rows="5" cols="30" pInputTextarea  type="textarea" class="form-control"
            formControlName="freeComment2"></textarea>
          </div>
        </div>
      </p-accordionTab>
     
  </p-accordion>
      <p-button type="submit" label="Submit" icon="pi pi-check"  class="p-button font-bold"></p-button>
    </form>
</div>



