h2 {
    color: rgb(10, 143, 219);
}

div {
    background-color: rgb(195, 216, 228);
    padding: 4px;
}

label {
    color: rgb(10, 67, 100);
}

button {
    display: flex;
    justify-content: center;
}

a {
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    text-decoration: none; 
}