p-table {
    border-collapse: collapse;
    width: 100%;
    
  }
p-table, td, th {
    border: 1px solid
} 
td, th {
    text-align: center;
    padding: 10px
  }

  a {
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none; 
}